

.twett{
    width: 700px;
    margin-top: 5px;
    border-top: 1px solid #ddd;
    padding: 14px;

}

.avatar{
    display: inline-flex;
}

.avatar-image{
    border-radius: 50%;
}

.twett-content{
    display: inline-flex;
    margin-left: 30px;
    height: 25px;    
}

.twett-author{
    font-weight: bold;
    display: block;
}

.twett-name{
    margin-left: 5px;
}

.twett-date{
    color: #bbb;
    margin-left: 5px;

}

.twett-text{
    display:inline-flex;
    width: 80%;
    margin-left: 80px;
    margin-top:0;
}

.twett-social{
    display: flex;
    justify-content: space-between;
    margin-left:80px;
    margin-top: 3px;
}

.flex-item{
    margin-left: 0px;
    padding-right:60px;
    color: #aaa;
}

.ico-retwett:after{
    content: '';
    opacity: 0.4;
    width:23px;
    height: 20px;
    position: absolute;
    background-image: url('retwett.png');
}

.ico-favorite:before{
    content: '';
    opacity: 0.3;
    width:25px;
    height: 23px;
    position: absolute;
    background: url('favorite.png');
}